<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <title>Book Recommender | Reccomend</title>
</head>

<body class="bg-secondary bg-opacity-25">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00002c;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Book Recommender</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/recommend">Recommend Books</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main">
        <h1 class="text-center mt-3 mb-3" style="color: #00002c;">Recommendations</h1>
    </div>
    <form class="input-group mx-auto p-3" style="max-width: 75rem;" action="/recommend_books" method="post">
        <input list="all_books" type="text" class="form-control imput-outline-dark" name="user_input"
            placeholder="Enter The Book Name" aria-label="Book Name" aria-describedby="button-addon2">
        <datalist id="all_books">
            {% for i in range(book_name|length) %}
            <option value="{{ book_name[i] }}">{{ book_name[i] }}</option>
            {% endfor %}
        </datalist>
        <button class="btn btn-outline-dark" type="submit" id="button-addon2">Recommend</button>
    </form>

    <div class="d-flex p-5 flex-wrap">
        {% if data %}
        {% for i in data %}
        <div class="card shadow-sm m-2" style="width: 18rem;">
            <img src="{{i[2]}}" class="card-img-top" alt="{{i[0]}}">
            <div class="card-body">
                <h5 class="card-title">{{i[0]}}</h5>
                <p class="card-text">{{i[1]}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Year Of Publication: {{i[3]}}</li>
                <li class="list-group-item">Votes: {{i[5]}}</li>
                <li class="list-group-item">Rating: {{i[4]}}</li>
            </ul>
        </div>
        {% endfor %}
        {% endif %}
        <div class="d-flex justify-content-center" style="width: 100%;">
            {% if err %}
            <div class="alert alert-warning fade show" role="alert">
                <div>
                    {{err}}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>